/* TAGS */

body {
	background-color:#000000;
	border-top:6px solid #FFCC00;
	color:#999999;
	font-family:Calibri, Constantia, Georgia, "Times New Roman", Times, serif;
	font-size:14px;	
	margin:0px;
	overflow-x:hidden;
	padding:0px;
}

li {
	font-size:13px;
	padding-right:15px;
}

td {
	border-bottom:1px solid #5C4A00;
	height:45px;
	padding:4px;
	padding-left:0px;
	
}

/* DIVs */

#container {
	height:100%;
	width:100%;	
}

#container-inner {
	text-align:center;
	margin:0px auto;
	width:850px;
	height:100%;
}

#hdr {
	height:30px;
	margin:0px auto;
	margin-top:0px;
	text-align:center;
	width:100%;
}

#inner-header {
	margin:0px auto;
	padding-top:15px;
	text-align:center;
}

#hdr-navbar {
	height:68px;
	text-align:right;
	width:100%;
}

#hdr-content {
	background-color:#3B3B3B;
	height:161px;
	text-align:left;
	width:100%;
}

#hdr-ftr {
	clear:both;
	height:61px;
	text-align:left;
	width:100%;
}


#content {
	/*border-bottom:1px solid #383838;*/
	margin-top:30px;
	overflow:auto;
	padding-bottom:30px;
	text-align:left;
	height:100%;
	width:100%;
}

.column {
	text-align:left;
	display:block;
	margin-left: 177px;
	width:495px;
}

#footer {
	clear:both;
	color:#FFFFFF;
	font-family:Constantia, Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	height:60px;
	text-align:center;
	width:100%;
	overflow:visible;
	background-image:url(../img/img-ftr.gif);
	background-repeat:no-repeat;	
	padding-bottom:0px;
	background-position:center;
}

#asirra_LayoutTable td {
	border-bottom: none;
	height:5px;
	padding:0px;
	margin:0px;
}
